body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #353535;
    --space: 2rem;
    font-family: "Readex Pro","Noto Sans KR", sans-serif;
    text-rendering: optimizeLegibility;
    -wekit-font-smoothing: antialiased;
   
    
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
  text-decoration: none;
  color:inherit;
}


section {
  width: 90rem;
  margin: 0 auto;  
}

.content_tilte_section{
    font-size: 1.5rem;
    font-weight: 700;
    position: relative;
    padding: 0px 0px 8px 24px;
}

.content_tilte_section::after {
    content: "";
    width: 16px;
    height: 16px;
    background-color: rgba(69, 255, 38, 1);
    border-radius: 50%;
    position: absolute;
    top:20%;
    left: 0;
}
    


.menu_section {
    width: 100%;
    height: 80px;
    display: flex;
    align-items:flex-end;
    position: fixed;
    top:0;
    z-index: 100;
    background-color: #fff;
}

.menu_section.hover {
    border-bottom: 1px solid rgba(36, 87, 35, .5);
  }

.menu_section .top_bar {
    width: 90rem;
    padding-bottom: 8px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items:center;
}

.menu_section .top_bar > ul {
   display: flex;
   gap: 60px;
}

.menu_section .top_bar > ul > li > a {
    font-weight: 300;
    font-size: 1rem;
    text-shadow: -.25px -.25px 0 transparent, .25px .25px transparent;
}


.menu_section .top_bar > ul > li:hover > a {
    color: rgba(242, 136, 4, 1);
    text-shadow: -.25px -.25px 0 rgba(242, 136, 4, 1), .25px .25px rgba(242, 136, 4, 1);
}



.intro_section .tilte_section{
    width: 100%;
    padding-top: 12rem;
    position: relative;
}

.intro_section .tilte_section .sub_title {
    font-size: 2rem;
    font-weight: 700;
    position: absolute;
    top:300px;
    left: 2px;
}

.intro_section .tilte_section .main_title {
    
    font-size: 170px;
    color:rgba(36, 87, 35, 1);
    font-weight: 700;
    
}

.intro_section .tilte_section .main_title > ul > li:first-child {
   
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 2px rgba(36, 87, 35, 1);
    margin-left: 33.25rem;
    height: 170px;
    display: flex;
    align-items: center;
    position: relative;

}


.intro_section .tilte_section .main_title > ul > li:nth-child(2) {
    color: #fff;
    background-color: rgba(36, 87, 35, 1);
    width: 1048px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;  
   
} 

.intro_section .tilte_section .main_title > ul > li:nth-child(3) {
    margin-left: 396px;
    height: 170px;
    display: flex;
    align-items: center;   
}

.intro_section .tilte_section .main_desc {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(36, 87, 35, 1);
    margin-left: 410px;
}

.intro_section .tilte_section .link_section {
    position: absolute;
    top:562px;
    left: 0;
    width: 312px;
    color: rgba(36, 87, 35, 1);
    border-bottom: 1px solid rgba(36, 87, 35, 1); 
}

.intro_section .tilte_section .link_section > Ul >li {
    height: 44px;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(36, 87, 35, 1);

}



.intro_section .tilte_section .link_section > Ul >li >a {
   line-height: .15rem;
}


.intro_section .tilte_section .circle {
    background-color: rgba(69, 255, 38, 1);
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    position: absolute;
    top:160px;
    left: 59rem;
    z-index: -10;
}

.scroll_section {
    margin-top: 6rem;
    height: 5rem;
    background-color: rgba(36, 87, 35, 1);
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    color:#fff;
    font-weight: 600;
}


.marquee {
    --duration: 20s;
    --gap: var(--space);
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}

.marquee__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:var(--space);
    min-width: 100%;
    animation: scroll var(--duration) linear infinite;
  }
  


  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

.scroll_section .pc_hide {
    display: none;
}

.scroll_section span {
    color:rgba(255, 139, 2, 1);
}

.intro_section2 .work_item {
    padding-top: 180px;
}

.intro_section2 .work_item > img {
    width: 100%;
}

.intro_section2 .work_item .info_box {
    display: flex;
    justify-content: space-between;
    padding: 32px 0;

}

.intro_section2 .work_item .info_box .item_info .rc_title {
    font-size: 2rem;
    font-weight: 500;
}

.intro_section2 .work_item .info_box .item_info .rc_desc {
    line-height: 150%;
    padding: 4px 0px 6px 0px;
    font-size: 1.5rem;
    font-weight: 300;
    color:#645454;
}

.intro_section2 .work_item .info_box .item_info .rc_desc span {
    display: block;
}

.intro_section2 .work_item .info_box .item_info .rc_tag {
    font-weight: 300;
    color:#645454;
}

.intro_section2 .work_item .info_box .link_button  {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #353535;
}

.intro_section2 .work_item .info_box .link_button:hover{
    color: rgba(255, 139, 2, 1);
}

.intro_section2 .work_item .info_box .link_button {
    position: relative;

}

.intro_section2 .work_item .info_box .link_button a::after {
    content: "";
    width: 26px;
    height: 26px;
    background-color: rgba(69, 255, 38, 1);
    border-radius: 50%;
    position: absolute;
    top: -2px;
    left: 88px;
    z-index: -10;

}

.intro_section2 .small_item{
   display: inline-block;
   width:48%;    
   
}

.intro_section2 .samll_right {
    margin-right:30px;
}


.intro_section3 .about_item {
    padding-top: 160px;
}



.intro_section3 .about_item .desc_section span{
   display: block;
   font-size: 2rem;
   font-weight: 500;
   color: #645454;
   line-height: 150%;
}

.intro_section3 .about_item .img_section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 1vw;
    padding-top: 8vw;
}


.intro_section3 .about_item .skills_img{
    gap: 4vw;
    justify-content: flex-end;
    padding-top: 6vw;
}


footer {
    background-color: rgba(36, 87, 35, 1);
    margin-top: 6.25vw;
    
}

footer .desc {
    padding: 2.6vw 0;
    color: #fff;
    font-size: 1rem;
    font-weight:100;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
   
}

footer span {
    font-size: 15px;
}

footer img {
    display: inline;
    width: 3%;
}

footer .mail, .tel {
    letter-spacing: 10%;
}


footer .contact_section {
    display: flex;
    flex-direction: column;
    gap:30px;
}
