.mobile_view {
    display: none !important;
}



@media only screen and (max-width:800px) {
    .mobile_view {
        display: inherit !important;

    }

    .mobile_hidden {
        display: none !important;
    }


    /*  M_top_bar */
    .mobile_menu>img {
        width: 80%;
    }

    section {
        width: 96%;
        margin: 0 auto;
    }
    
    .content_tilte_section::after {
        content: "";
        top: 64%;
    }


    .menu_section {
        border-bottom: 1px solid #fff;
        height: 70px;
    }

    .menu_section .top_bar {
        margin-top: 1rem;
    }

    .menu_section .top_bar .logo img {
        width: 74%;
        margin-left: 10px;
    }

    .menu_section .mobile_menu {
        position: absolute;
        top: 1.7rem;
        left: 86vw;

    }

    .menu_section .mobile_menu img {
        width: 80%;
    }



    .intro_section .tilte_section {
        margin-top: 1rem;
        padding-top: 1rem;
        height: 100%;
    }


    .intro_section .tilte_section .main_title {
        font-size: 14.2vw;
        padding-top: 20vw;
    }

    .intro_section .tilte_section .main_title .title_top {
        width: 100%;
        height:  100%;
        padding: 10px 0;
    }

    .intro_section .tilte_section .sub_title {
        font-size: 1.25rem;
    }

    .intro_section .tilte_section .main_title .title_top .stroke {
       margin: 0;
       width: 50%;
       margin-left: 18px;
    }

    .intro_section .tilte_section .main_title>ul>li:nth-child(2) {
        width: 100%;
        height: 14vw;
        font-size: 15.8vw;
        padding: 10px 0;

    }

    .intro_section .tilte_section .main_title>ul>li:nth-child(3) {
        height: 14vw;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    /*  M_top_bar */
    .scroll_section {
        width: 96%;
        height: 7vw;
        font-size: 4vw;
        margin: 0.4rem auto;
        display: flex;
        justify-content: center;
    }



    /*  모바일 work */
    .intro_section2 .work_item .item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    .intro_section2 .work_item .item_title {
        font-size: 1.5rem;
        font-weight: 500;
        margin: 20px 0 10px 0;
    }

    .intro_section2 .item_desc {
        margin: 6px 0 8px 0;
        font-size: 1rem;
        line-height: 150%;
        font-weight: 500;
        width: 90%;
    }


    .intro_section2 .i_far {
        display: inline;
    }


    .intro_section2 .work_item .info_box .link_button {
        font-size: 1rem;
    }

    .intro_section2 .work_item .info_box .link_button a::after {
        content: "";
        width: 20px;
        height: 20px;
        background-color: rgba(69, 255, 38, 1);
        border-radius: 50%;
        position: absolute;
        top: 4%;
        left: 90px;
        z-index: -10;
    }

    .link_button a img {
        display: inline-block;
        margin-bottom: 2px;

    }


    .intro_section2 .work_3_section,
    .intro_section2 .work_4_section {
        margin-left: 0;
        margin-right: 0;
    }


    /* 모바일 어바웃 */
    .intro_section3 .about_item .desc_section span {
        display: inline;
        font-size: 1rem;
    }


    .intro_section3 .about_item .img_section {
        padding: 0;
        justify-content: center;
        padding-top: 8vw;
    }

    .intro_section3 .about_item .img_section img {
        width: 50%;
    }

 
    .intro_section3 .about_item .img_section {
        display: flex;
        align-items: flex-start;
        gap: 1vw;
        padding-top: 8vw;
    }

    .intro_section3 .about_item .skills_img img {
        width: 80%;
    }

    /* 모바일 풋터 */
    footer .desc {
        padding: 8vw 0;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;

    }


    footer img {
        margin-top: 4px;
        width: 10%;
    }

    footer .mail,
    .tel {
        letter-spacing: 10%;
    }


    footer .contact_section {
        gap: 10px;

    }

    .contact_section .copyright_section {
        font-size: 14px;
        font-weight: 100;
        vertical-align: middle;
    }


    .copyright_section>span {
        font-size: 10px;
        line-height: 190%;
        padding-left: 4px;
    }


}